@charset "UTF-8";
.loanContractInformation {
	padding: 0 20px;
	border-top: #191F29 solid 1px;
}
.loanContractInformationRow {
 	height: 61px;
	display: flex;
	align-items: center;
	border-bottom: #B0B8C1 solid 1px; 
}
.loanContractInformationRowTitle {	
	width: 250px;
	display: flex;
	justify-content: center;
	font-size: 20px;
	font-weight: bold;
}
.loanContractSearchInput {
	width: 300px;
	height: 32px
}
#loanType {
	width: 100px;
	height: 30px;
}
.loanContractInformationRow > ul {
	display: flex;
	padding: 0;
}
.loanContractInformationRow > ul > li {
	width: 100px;
	display: flex;
	justify-content: center;
	color: #B0B8C1;
	height: 22px;
	align-items: center;
}
.loanContractInformationRow > ul > li:hover {
	cursor: pointer;
	color: #191F29;
}
.loanContractInformationRow > input {
	width: 300px;
}
.selectedLi {
	color: #191F29 !important;
	font-weight: bold;
}
.loanContractDate > select {
	width: 138px;
	margin-right: 10px;
	text-align: center;
}
#balance {
	height: 99px;
}
#balanceList {
   width: 870px;
   height: 99px !important;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
}
#balanceList > div> li {
   width: 670px;
   color: #B0B8C1;
}
#balanceList > div> li span {
   width: 160px;
}
#balanceList > div> li > span > input {
   width: 80px;
   height: 21px;
   border: 1px solid #B0B8c1;
}
