.searchTable {
	width: 1444px;
	margin-top: 15px;
	margin-bottom: 20px;
	box-sizing: border-box;
	border-collapse: collapse;
}
.searchTable tr th{
	background: #2DB400; /*#8B95A1;*/
	height: 40px;
	color: #FFFFFF;
	border-style: hidden;
  	box-shadow: 0 0 0 1px #8B95A1;
}
.searchTable tr th:first-child {
	border-top-left-radius: 5px;
}
.searchTable tr th:last-child {
	border-top-right-radius: 5px;
}
.searchTable tr{
	text-align: center;
	color: #191F29;
	cursor: pointer;
}
.searchTable tr td{
	height: 40px;
	border: 1px solid #8B95A1;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}