@charset "UTF-8";

#customerDetailButton {
	border: transparent;
	background: transparent;
	font-size: 26px;
	cursor: pointer;
}
#customerCountry {
	margin-right: 200px;
}
.select {
	width: 200px;
	height: 30px;
	text-align: center;
}
.searchTable tr th:first-child {
	width: 100px;
}
.searchTable tr th:nth-child(n + 3):nth-child(-n + 5), 
.searchTable tr th:nth-child(n + 9):nth-child(-n + 11){
	width: 100px;
}
.searchTable tr th:nth-child(2),
.searchTable tr th:nth-child(6),
.searchTable tr th:nth-child(8) {
	width: 130px;
}
.searchTable tr th:nth-child(7){
	width: 180px;
}
.activePage {
	background-color: #2DB400;
}