@charset "UTF-8";

.customerDetailButton {
	width: 80px;
	height: 30px;
	border: 1px solid #2EB400;
	border-radius: 5px;
	color: #2EB400;
	background-color: #FFFFFF;
	align-items: center;
	justify-content: center;	
	cursor: pointer;
}
.customerDetailButton:hover {
	opacity: 0.8;
	background: buttonface;
}
#findById  > #show {
	position: absolute;
	margin-top: 5.5px;
	margin-left: -60px;
	font-size: 12px;
	cursor: pointer;
	color: grey;
	background: transparent;
	border: 0px solid grey;;
}
#identification1,
#identification2 {
	width: 150px !important;
	height: 30px;
    border: 1px solid #B0B8C1;
    border-radius: 3px;
}