@charset "UTF-8";


#customerAge {
	width: 870px;
	height: 60px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
#customerDetailButton {
	border: transparent;
	background: transparent;
	font-size: 26px;
	cursor: pointer;
}
#directInput {
	width: auto;
	display: flex;
	align-items: center;
	margin-right: 100px;
}
#directInput:hover {
	cursor: default;
	color: #B0B8C1;
}
#customerCountry {
	margin-right: 200px;
}
