@charset "UTF-8";

#customerAge {
	width: 870px;
	height: 60px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
#customerDetailButton {
	border: transparent;
	background: transparent;
	font-size: 26px;
	cursor: pointer;
}
#directInput {
	width: auto;
	display: flex;
	align-items: center;
	margin-right: 100px;
}
#directInput:hover {
	cursor: default;
	color: #B0B8C1;
}
#customerCountry {
	margin-right: 200px;
}
#customerSearchTable {
	width: 1444px;
	margin-top: 15px;
	margin-bottom: 20px;
	box-sizing: border-box;
	border-collapse: collapse;
}
#customerSearchTable tr th{
	background: #8B95A1;
	height: 40px;
	color: #FFFFFF;
	border-style: hidden;
  	box-shadow: 0 0 0 1px #8B95A1;
}
#customerSearchTable tr{
	text-align: center;
	color: #191F29;
	cursor: pointer;
}
#customerSearchTable tr td{
	height: 40px;
	border: 1px solid #8B95A1;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
#customerSearchTable tr th:first-child {
	border-top-left-radius: 5px;
	width: 100px;
}
#customerSearchTable tr th:last-child {
	border-top-right-radius: 5px;
}
.searchTable tr th:nth-child(n + 3):nth-child(-n + 5), 
.searchTable tr th:nth-child(n + 9):nth-child(-n + 11){
	width: 100px;
}
.searchTable tr th:nth-child(2),
.searchTable tr th:nth-child(6),
.searchTable tr th:nth-child(8) {
	width: 130px;
}
.searchTable tr th:nth-child(7){
	width: 180px;
}

