@charset "UTF-8";

.loanProductInformation {
	padding: 0 20px;
	border-top: #191F29 solid 1px;
}
.loanProductInformationRow {
	height: 61px;
	display: flex;
	align-items: center;
	border-bottom: #B0B8C1 solid 1px;
}
.loanProductInformationRowTitle {
	width: 250px;
	display: flex;
	justify-content: center;
	font-size: 20px;
	font-weight: bold;
}
#loanType {
	width: 100px;
	height: 30px;
}
.loanProductInformationRow > ul {
	display: flex;
	padding: 0;
}
.loanProductInformationRow > ul > li {
	width: 100px;
	display: flex;
	justify-content: center;
	color: #B0B8C1;
}
.loanProductInformationRow > ul > li:hover {
	cursor: pointer;
	color: #191F29;
}
.loanProductInformationRow > input {
	width: 400px;
	height: 30px;
}
.selectedLi {
	color: #191F29 !important;
	font-weight: bold;
}
#depositProductBalance{
	width: 570px;
	flex-wrap: wrap;
	height: 70px;
	align-items: space-between;
}
#depositProductBalance > li{
	margin-top: 7.5px;
}
#directInput{
	width: fit-content !important;
}
#balanceRow{
	height: 102px;
}
.searchBox{
	margin-top: 10px 3px 20px 3px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.searchButton{
	width: 130px;
	height: 50px;
	background: #2DB400;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 4px 15px;
	background: #2DB400;
	border: 1px solid #B0B8C1;
	border-radius: 5px;
	color: white;
	font-weight: 700;
	font-size: 23px;
	line-height: 28px;
	margin: 10px 3px 10px auto;
}
#depositSearchTable tr th:nth-child(1){
	width: 150px;
	border-top-left-radius: 5px;		
}
#depositSearchTable tr th:nth-child(2){
	width: 400px;
}
#depositSearchTable tr th:nth-child(3),
#depositSearchTable tr th:nth-child(4){
	width: 200px;
}
#depositSearchTable tr th:nth-child(5){
	width: 494px;
	border-top-right-radius: 5px;	
}
.popupBox{
	background: #FFFFFF;
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	border-radius: 10px;
	width: 1300px;
	height: 520px;
	position: fixed;
	top: calc(50vh - 260px);
	box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px;
	z-index : 100;
}
.popupExitButton{
	width: 14px;
	height: 14px;
	fill: #323232;
	margin-left: auto;
	cursor: pointer;
}
.popupTitleBox{
	font-weight: 700;
	font-size: 30px;
	line-height: 1.6;
}
#historyTable tr th:nth-child(1){
	width: 180px;
	border-top-left-radius: 5px;		
}
#historyTable tr th:nth-child(2){
	width: 100px;
}
#historyTable tr th:nth-child(3){
	width: 230px;
}
#historyTable tr th:nth-child(4){
	width: 150px;
}
#historyTable tr th:nth-child(5){
	width: 150px;
}
#historyTable tr th:nth-child(6){
	width: 130px;
}
#historyTable tr th:nth-child(7){
	width: 160px;
}
#historyTable tr th:nth-child(8){
	width: 180px;
	border-top-right-radius: 5px;	
}
.display{
	display: none;
}