@charset "UTF-8";

#depositBalance{
	width: 870px;
	height: 60px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
ul > li > select {
	width: 200px;
	height: 30px;
	text-align: center;
	margin-right: 10px;
}