@charset "UTF-8";

@font-face {
	font-family: 'Hana2';
	src: url('../public/fonts/Hana2-Regular.otf') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Hana2';
	src: url('../public/fonts/Hana2-Bold.otf') format('woff');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Hana2';
	src: url('../public/fonts/Hana2-Regular.ttf') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Hana2';
	src: url('../public/fonts/Hana2-Bold.ttf') format('woff');
	font-weight: bold;
	font-style: normal;
}
:root {
 	--primary-color: #2DB400;
}
* {
	font-family: 'Hana2', 'Notosans_Regular', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
	box-sizing: border-box;
}
body {
	width: 100vm;
	height: 100%;
	margin: 0;
}
main {
	min-height: 900px;
	display: flex;
	margin-top: 80px;
	margin-left: 260px;
	background-color: #F9FAFB;
}
li {
	list-style: none;
	text-decoration: none;
}
a {
	color: #191f29;
	text-decoration: none;
	outline: none;
}
h1 {
	font-size: 30px;
	font-weight: bold;
	margin: 0;
}
h2 {
	font-size: 26px;
	font-weight: bold;
	margin: 0;
}
.innerContainer {
	display: inline-block;
	padding-left: 30px;
	background-color: #F9FAFB;
}
.innerTitle {
	width: 100%;
	height: 68px;
	display: flex;
	align-items: center;
}
.innerSubTitle { 
	width: 100%;
	height: 48px;
	display: flex;
	align-items: center;
}
.innerSubTitle2 { 
	width: 100%;
	height: 48px;
	display: flex;
	align-items: center;
	margin-top: 30px;
}
.modifyButtonContainer,
.innerButtonContainer {
	display: flex;
	justify-content: end;
	padding: 10px 10px 10px 0px;
}
.innerButtonContainer > button {
	width: 130px;
	height: 50px;
	color: #FFFFFF;
	font-size: 23px;
	font-weight: bold;
	border: #2DB400 1px solid;
	border-radius: 5px;
	background-color: #2DB400;
}
.modifyButtonContainer > button {
	width: 100px;
	height: 40px;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
	border: #2DB400 1px solid;
	border-radius: 5px;
	background-color: #2DB400;
}
.modifyButtonContainer > button:hover,
.innerButtonContainer > button:hover {
	cursor: pointer;
	opacity: 80%;
}
.display {
	display: none;
}
.upToButton {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 50px;
	right: 100px;
	border: none;
 	border-radius: 50%;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16), 0 1px 1px rgba(0, 0, 0, 0.23);
	text-align: center;
	line-height: 4rem;
	padding-top: 5px;
	cursor: pointer;
	transition: all 0.2s;
}
.upToButton:hover {
	background-color: #D1D6DB;
}