.innerContainer {
	padding-left: 30px;
}
.innerTitle {
	width: 1450px;
	height: 68px;
	display: flex;
	align-items: center;
}
.innerSubTitle { 
	width: 100%;
	height: 48px;
	display: flex;
	align-items: center;
}
.innerButtonContainer {
	display: flex;
	justify-content: end;
	padding: 10px 10px 10px 0px;
}
.innerButtonContainer > button {
	width: 130px;
	height: 50px;
	color: #FFFFFF;
	font-size: 23px;
	font-weight: bold;
	border: #2DB400 1px solid;
	border-radius: 5px;
	background-color: #2DB400;
}
.innerButtonContainer > button:hover {
	cursor: pointer;
	opacity: 80%;
}
.innerInformation {
	padding: 0 20px 10px 20px;
	border-top: #191F29 solid 1px;
}
.innerInformationRow {
	display: flex;
	align-items: center;
	border-bottom: #B0B8C1 solid 1px;
	padding: 20px 0;
}
.innerInformationRowTitle {
	width: 250px;
	display: flex;
	justify-content: center;
	font-size: 20px;
	font-weight: bold;
}
.innerInformationRow > ul {
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
}
.innerInformationRow > p {
	width: 400px;
	font-size: 20px;
	font-weight: bold;
	margin: 0; 
}
.innerInformationRow > ul > li {
	width: 100px;
	display: flex;
	justify-content: center;
	color: #B0B8C1;
}
.innerInformationRow > ul > li:hover {
	cursor: pointer;
	color: #191F29;
}
.innerInformationRowSubtitle {
	width: 100px;
	font-size: 20px;
	text-align: center;
	margin: 0 10px;
}
li > div {
	display: flex;
	align-items: center;
}
li > p {
	width: 70px;
	height: fit-content;
	text-align: center;
	margin: 0;
}
.innerMiddleInput {
	width: 190px;
	height: 30px;
}
.innerShortInput {
	width: 100px;
	height: 30px;
}
li > div > input {
	height: 30px;
	display: flex;
}
.innerSearchInput {
	width: 400px;
	height: 30px;
}
.innerSearchInput {
	width: 400px;
	height: 30px;
}
.innerMiddleInput2 {
	width: 190px;	
	height: 30px;
}
.innerSearchInput3 {
	width: 200px;
	height: 30px;
	margin-right: 200px;
}
.innerSelectBox {
	width: 200px;
	height: 30px;
	text-align: center;
	margin-right: 200px;
}
.innerSelectBox2 {
	width: 200px;
	height: 30px;
	text-align: center;
	margin-right: 10px;
}
.selectedLi {
	color: #191F29 !important;
	font-weight: bold;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  margin: 0;
}
#directInput {
	width: auto;
	display: flex;
	align-items: center;
	margin-right: 100px;
}
#directInput > p {
	margin: 0 10px;
}
