@charset "UTF-8";

#search {
	float: left;
}
tr td select {
	width: 150px !important; 
}
.select,
.shortInput {
	width: 150px !important;
	height: 30px;
    border: 1px solid #B0B8C1;
    border-radius: 3px;
}
.shortSelect,
.middleInput {
	width: 200px !important;;
}
.customerDetailButton {
	width: 80px;
	height: 30px;
	border: 1px solid #2EB400;
	border-radius: 5px;
	color: #2EB400;
	background-color: #FFFFFF;
	align-items: center;
	justify-content: center;	
	cursor: pointer;
}
.customerDetailButton:hover {
	opacity: 0.8;
	background: buttonface;
}
#customerName, 
.innerSubTitleRow {
	margin: 7px 0px 7px 7px;
	font-size: 20px;
}
#riskResultTitle {
	margin-right: 10px !important;
}
#searchResultMessage {
	margin: 7px;
	font-size: 20px;
}
.innerInformation {
	margin-bottom: 5px;	
}
#repaymentMethodSelectTableTitle {
	margin-top: 100px !important;
}
#repaymentMethodSelectTable tr th:nth-child(1){
	width: 15%;	
}
#repaymentMethodSelectTable tr th:nth-child(2){
	width: 17%;	
}
#repaymentMethodSelectTable tr th:nth-child(3){
	width: 17%;	
}
#repaymentMethodSelectTable tr th:nth-child(4){
	width: 17%;	
}
#repaymentMethodSelectTable tr th:nth-child(5){
	width: 17%;	
}
#repaymentMethodSelectTable tr th:nth-child(6){
	width: 17%;	
}
#repaymentAmountTotalDiv {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
  	align-items: center;
}
#repaymentAmountTotalDiv > p {
  display: flex !important;
  align-items: center;
}
#repaymentAmountTotalTitle {
	font-size: 20px;
	font-weight: bold;
	float: left;
	margin-right: 5px;
}
#repaymentAmountTotal {
	float: left;
}
#updateRepaymentDB {
	font-size: 13px;
	width: 60px;
    height: 30px;
    border: 1px solid #2EB400;
    border-radius: 5px;
    color: #2EB400;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: transparent;
    margin-left: 30px;
}
