@charset "UTF-8";
#search {
	float: left;
}
tr td select {
	width: 150px;
}
.select {
	width: 150px;
}
.shortSelect,
.middleInput {
	width: 200px;
}
#innerContainer .riskResult {
	margin-bottom: 100px;
	border-bottom: #B0B8C1 solid 1px;
	padding: 20px 0;
}
#customerDetailButton {
	border: transparent;
	background: transparent;
	font-size: 15px;
	cursor: pointer;
}
#customerDetailButton:hover {
	color: #2DB400;
}
#repaymentMethodSelectTableTitle {
	margin-top: 100px !important;
}
#repaymentMethodSelectTable tr th:nth-child(1){
	width: 15%;	
}
#repaymentMethodSelectTable tr th:nth-child(2){
	width: 17%;	
}
#repaymentMethodSelectTable tr th:nth-child(3){
	width: 17%;	
}
#repaymentMethodSelectTable tr th:nth-child(4){
	width: 17%;	
}
#repaymentMethodSelectTable tr th:nth-child(5){
	width: 17%;	
}
#repaymentMethodSelectTable tr th:nth-child(6){
	width: 17%;	
}