@charset "UTF-8";
#search {
	float: left;
}
#repaymentDetailButton {
	float: left;
  	margin-right: 15px;
  	font-size: 17px;
}
tr td select {
	width: 150px;
}
.select {
	width: 150px;
}
.shortSelect {
	width: 200px;
}
