@charset "UTF-8";

.inputTable {
	border: 1px solid #B0B8C1;	
	border-collapse: collapse;
	border-radius: 4px ;
}
.inputTable > tbody > tr {
	height: 40px;
}
.inputTable > tbody > tr > th {
	background: #2DB400;
	width: 225px; 
	color:#fff;
}
.inputTable > tbody > tr > td {
	width: 500px;
	color: #191F29; 
	margin: 0;
}
.inputTable > tbody > tr > td > button {
	width: 80px;
	height: 30px;
	border: 1px solid #2EB400;
	border-radius: 5px;
	color: #2EB400;
	background-color: #FFFFFF;
	align-items: center;
	justify-content: center;	
	cursor: pointer;
}
.inputTable > tbody > tr > td > button:hover {
	opacity: 0.8;
	background: buttonface;
}
.inputTable > tbody > tr > td, th {
	padding: 0 4px;
	border: 1px solid #B0B8C1;
}
td > input {
	height: 30px;
	border: 1px solid #B0B8C1;
	border-radius: 3px;
}
td  select {
	height: 30px;
	border: 1px solid #B0B8C1;
	border-radius: 3px;
	text-align: center;
}
.shortSelect {
	width: 23%;
}
.longSelect {
	width: 50%;
}
.shortInput {
	width: 23%;
}
.middleInput {
	width: 50%;
}
.longInput {
	width: 100%;
}
.identificationInput {
	width: 100px
}
.innerSubTitleRow {
	width: 550px;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 23px;
	margin-left: 20px;
}
.innerSubTitleRow > div {
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#findResult {
	width: 400px;
	height: 30px;
	margin: 7px;
	font-size: 23px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#show {
	position: absolute;
	margin-left: 270px;
	margin-top: 7.5px;
	font-size: 9px;
	cursor: pointer;
	color: grey;
	background: transparent;
	border: 0px solid grey;;
}
