@charset "UTF-8";

.select {
	width: 200px;
	height: 30px;
	text-align: center;
}

.searchTable tr th:nth-child(1) {
	width: 134px;
}
.searchTable tr th:nth-child(3) {
	width: 300px;
}
.searchTable tr th:nth-child(2) {
	width: 400px;
}
.searchTable tr th:nth-child(4) {
	width: 500px;
}