@charset "UTF-8";

.searchTable tr th:nth-child(1),
.searchTable tr th:nth-child(3) {
	width: 150px;
}
.searchTable tr th:nth-child(2) {
	width: 200px;
}
.searchTable tr th:nth-child(4) {
	width: 250px;
}