@charset "UTF-8";


.innerSelectBox {
	margin-right: 200px;
}
.searchTable tr th:nth-child(1),
.searchTable tr th:nth-child(3) {
	width: 150px;
}
.searchTable tr th:nth-child(2) {
	width: 300px;
}
.searchTable tr th:nth-child(4) {
	width: 250px;
}
.searchTable tr th:nth-child(5),
.searchTable tr th:nth-child(6) {
	width: 200px;
}